tensorflow==2.20.0
pandas
gdown
dvc
mlflow==3.4.0
notebook
numpy
matplotlib
seaborn
python-box==7.3.2
pyYAML
tqdm
scikit-learn
scipy
ensure==1.0.4
joblib
types-PyYAML 
Flask
Flask-Cors
uvicorn 
fastapi
-e .
aiohttp>=3.13.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.1.5 # not directly required, pinned by Snyk to avoid a vulnerability