tensorflow==2.20.0
pandas
gdown
dvc
mlflow==3.4.0
notebook
numpy
matplotlib
seaborn
python-box==7.3.2
pyYAML
tqdm
scikit-learn
scipy
ensure==1.0.4
joblib
types-PyYAML 
Flask
Flask-Cors
uvicorn 
fastapi
-e .
nbconvert>=7.17.0 # not directly required, pinned by Snyk to avoid a vulnerability